<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>
<div class="container-fluid">
    <!--        Шапка сайта-->
    <div class="row">
        <div class="col-md-11" style="background: black">
            <h5 class="list-inline">
                <i th:text="${admin.toString()}" style="color: white">Val</i>
            </h5>
        </div>
        <div class="col-md-1" style="background: black" th:align="right">
            <a href="/logout">
                <font color="#a9a9a9">Logout</font>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!--Левая панель -->
        <div class="col-md-2">

            <div id="list-model" class="list-group">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action active"
                   href="#admin" data-toggle="pill">Admin</a>
                <a class="list-group-item list-group-item-action" href="#user" data-toggle="pill">User</a>
            </div>
        </div>



        <!-- правая часть, с таблицей -->
        <div class="col-md-10 bg-light">
            <div class="container">
                <div class="row">
                    <div class="table table-hover">
                        <div class="row">
                            <div class="col-md-8">
                                <h2><b>Admin panel</b></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="nav nav-tabs ">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Users table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">New user</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </table>
                </div>

                <div class="row">
                    <table class="table table-bordered">
                        <div class="col-md-12">
                            <h5 class="sub-header">All users</h5>
                        </div>

                        <div class="row">

                            <table class="table table-hover table-striped" style="background: white">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tr th:each="tempUser : ${users}">
                                    <td th:text="${tempUser.getId()}"></td>
                                    <td th:text="${tempUser.getFirst_name()}">user></td>
                                    <td th:text="${tempUser.getLast_name()}">user></td>
                                    <td th:text="${tempUser.getAge()}">user></td>
                                    <td th:text="${tempUser.getEmail()}">user></td>
                                    <td th:text="${tempUser.getRoles()}">user></td>
                                    <td>
                                        <!--                            <a href="#" id="main">-->
                                        <!--                            <div id="okno">Всплывающее окошко!</div>-->
                                        <!--                            </a>-->
                                        <a href="#main">
                                            <input type="submit" class="btn btn-primary" value="Edit">
                                        </a>
                                    </td>
                                    <td>
                                        <form th:method="DELETE" th:action="@{/admin/}">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </table>

                </div>


            </div>
        </div>


    </div>
</div>


</body>
</html>

