<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>
<div class="container-fluid">
    <!--        Шапка сайта-->
    <div class="row">
        <div class="col-md-11" style="background: black">
            <h5 class="list-inline">
                <i th:text="${currentUser.toStringRoleAndEmail()}" style="color: white">Current user</i>
            </h5>
        </div>
        <div class="col-md-1" style="background: black" th:align="right">
            <a href="/logout">
                <font color="#a9a9a9">Logout</font>
            </a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <!--Левая панель -->

        <div class="col-md-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action"
                   th:href="@{/admin}">Admin</a>
                <a class="list-group-item list-group-item-action"
                   th:href="@{/user}">User</a>
            </div>
        </div>


        <!-- правая часть, с таблицей -->

        <div class="col-md-10 bg-light">
            <div class="container">
                <div class="row">
                    <div class="container-fluid">
                        <div class="table table-hover">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2><b>Admin panel</b></h2>
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                               role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="tab-content">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="sub-header">All users</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-hover table-striped" style="background: white">
                                                            <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>First name</th>
                                                                <th>Last name</th>
                                                                <th>Age</th>
                                                                <th>Email</th>
                                                                <th>Role</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                            </thead>
                                                            <tr th:each="tempUser : ${users}">
                                                                <td th:text="${tempUser.getId()}"></td>
                                                                <td th:text="${tempUser.getFirst_name()}">user></td>
                                                                <td th:text="${tempUser.getLast_name()}">user></td>
                                                                <td th:text="${tempUser.getAge()}">user></td>
                                                                <td th:text="${tempUser.getEmail()}">user></td>
                                                                <td th:text="${tempUser.getRoles()}">user></td>
                                                                <td><a type="button" class="btn btn-primary" data-toggle="modal"
                                                                       th:attr="data-target='#edit' + ${tempUser.getId()}">Edit</a>
                                                                </td>
                                                                <td><a type="button" class="btn btn-danger" data-toggle="modal"
                                                                       th:attr="data-target='#delete' + ${tempUser.getId()}">Delete</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- -------------- Вкладка "Добавить пользователя" ----------------  -->
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="tab-content">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <b>Add new user</b>
                                                    </div>
                                                    <div class="card-body" align="center">
                                                        <div class="newUser">
                                                            <form th:method="POST" th:action="@{/admin/new}" th:object="${addUser}">
                                                                <div class="form-group">
                                                                    <label for="firstNew"><b>First Name</b></label>
                                                                    <input type="text" th:field="*{first_name}" class="form-control mb-1 col-4"
                                                                           id="firstNew" aria-describedby="nameHelp">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="lastNew"><b>Last Name</b></label>
                                                                    <input type="text" th:field="*{last_name}" class="form-control mb-1 col-4"
                                                                           id="lastNew" aria-describedby="lastNameHelp">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="ageNew"><b>Age</b></label>
                                                                    <input type="text" th:field="*{age}" class="form-control mb-1 col-4"
                                                                           id="ageNew" aria-describedby="ageHelp">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="emailNew"><b>Email</b></label>
                                                                    <input type="email" th:field="*{email}" class="form-control mb-1 col-4"
                                                                           id="emailNew" aria-describedby="emailHelp">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="passwordNew"><b>Password</b></label>
                                                                    <input type="password" th:field="*{password}" class="form-control mb-1 col-4"
                                                                           id="passwordNew">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label><b>Role</b>
                                                                        <select th:field="*{roles}" id="roleNew" multiple>
                                                                            <option th:value="USER" selected>USER</option>
                                                                            <option th:value="ADMIN">ADMIN</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <button type="submit" class="btn btn-success col-2">Add new user</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    _______________Модалка Edit_____________________________   -->
<div th:each="updateUser: ${users}">
    <div class="modal fade" th:id="${'edit' + updateUser.getId()}" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModal">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" align="center">
                    <form th:method="PATCH" th:action="@{/admin/{id}(id=${updateUser.getId()})}">
                        <div class="col-md-6" align="center">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id"><b>ID</b></label>
                                    <input type="text" class="form-control" disabled id="id" name="id"
                                           th:value="${updateUser.getId()}">
                                </div>

                                <div class="form-group">
                                    <label for="firstName"><b>First name</b></label>
                                    <input type="text" class="form-control" id="firstName" name="first_name"
                                           th:value="${updateUser.getFirst_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="lastName"><b>Last name</b></label>
                                    <input type="text" class="form-control" id="lastName" name="last_name"
                                           th:value="${updateUser.getLast_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="age"><b>Age</b></label>
                                    <input type="text" class="form-control" id="age" name="age"
                                           th:value="${updateUser.getAge()}">
                                </div>

                                <div class="form-group">
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           th:value="${updateUser.getEmail()}">
                                </div>

                                <div class="form-group">
                                    <label for="password"><b>Password</b></label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           th:value="${updateUser.getPassword()}">
                                </div>

                                <div class="form-group">
                                    <label for="role"><b>Role</b></label>
                                    <select class="form-control" size="2" th:value="${updateUser.getRoles()}" id="role" name="roles" multiple>
                                        <option th:value="USER">USER</option>
                                        <option th:value="ADMIN">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-info col-2" value="Edit"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    _______________Модалка Delete_____________________________   -->
<div th:each="deleteUser: ${users}">
    <div class="modal fade" th:id="${'delete' + deleteUser.getId()}" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" align="center">
                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${deleteUser.getId()})}">
                        <div class="col-md-6" align="center">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="idDel"><b>ID</b></label>
                                    <input type="text" class="form-control" disabled id="idDel" name="id"
                                           th:value="${deleteUser.getId()}">
                                </div>

                                <div class="form-group">
                                    <label for="firstNameDel"><b>First name</b></label>
                                    <input type="text" class="form-control" disabled id="firstNameDel" name="first_name"
                                           th:value="${deleteUser.getFirst_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="lastNameDel"><b>Last name</b></label>
                                    <input type="text" class="form-control" disabled id="lastNameDel" name="last_name"
                                           th:value="${deleteUser.getLast_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="ageDel"><b>Age</b></label>
                                    <input type="text" class="form-control" disabled id="ageDel" name="age"
                                           th:value="${deleteUser.getAge()}">
                                </div>

                                <div class="form-group">
                                    <label for="emailDel"><b>Email</b></label>
                                    <input type="email" class="form-control" disabled id="emailDel" name="email"
                                           th:value="${deleteUser.getEmail()}">
                                </div>

                                <div class="form-group">
                                    <label for="passwordDel"><b>Password</b></label>
                                    <input type="password" class="form-control" disabled id="passwordDel" name="password"
                                           th:value="${deleteUser.getPassword()}">
                                </div>

                                <div class="form-group">
                                    <label for="roleDel"><b>Role</b></label>
                                    <select class="form-control" size="2" disabled th:value="${deleteUser.getRoles()}" id="roleDel" name="roles" multiple>
                                        <option th:value="USER">USER</option>
                                        <option th:value="ADMIN">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-danger" value="Delete"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

