<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>
<div class="container-fluid">
    <!--        Шапка сайта-->
    <div class="row">
        <div class="col-md-11" style="background: black">
            <h5 class="list-inline">
                <i th:text="${admin.toString()}" style="color: white">Val</i>
            </h5>
        </div>
        <div class="col-md-1" style="background: black" th:align="right">
            <a href="/logout">
                <font color="#a9a9a9">Logout</font>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!--Левая панель -->
        <div class="col-md-2">

            <div id="list-model" class="list-group">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action active"
                   href="#admin" data-toggle="pill">Admin</a>
                <a class="list-group-item list-group-item-action" href="#user" data-toggle="pill">User</a>
            </div>
        </div>



        <!-- правая часть, с таблицей -->
        <div class="col-md-10 bg-light">
            <div class="container">
                <div class="row">
                    <div class="table table-hover">
                        <div class="row">
                            <div class="col-md-8">
                                <h2><b>Admin panel</b></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="nav nav-tabs ">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Users table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">New user</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </table>
                </div>

                <div class="row">
                    <table class="table table-bordered">
                        <div class="col-md-12">
                            <h5 class="sub-header">All users</h5>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped" style="background: white">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tr th:each="tempUser : ${users}">
                                    <td th:text="${tempUser.getId()}"></td>
                                    <td th:text="${tempUser.getFirst_name()}">user></td>
                                    <td th:text="${tempUser.getLast_name()}">user></td>
                                    <td th:text="${tempUser.getAge()}">user></td>
                                    <td th:text="${tempUser.getEmail()}">user></td>
                                    <td th:text="${tempUser.getRoles()}">user></td>
                                    <td><a type="button" class="btn btn-primary" data-toggle="modal"
                                           th:attr="data-target='#edit' + ${tempUser.getId()}">Edit</a>
                                    </td>
                                    <td><a type="button" class="btn btn-danger" data-toggle="modal"
                                           th:attr="data-target='#delete' + ${tempUser.getId()}">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each="user: ${users}">
    <div class="modal fade" th:id="${'edit' + user.getId()}" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" align="center">
                    <form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}">
                        <div class="col-md-6" align="center">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id"><b>ID</b></label>
                                    <input type="text" class="form-control" disabled id="id" name="id" th:value="${user.getId()}">
                                </div>

                                <div class="form-group">
                                    <label for="firstName"><b>First name</b></label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.getFirst_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="lastName"><b>Last name</b></label>
                                    <input type="text" class="form-control" id="lastName" th:value="${user.getLast_name()}">
                                </div>

                                <div class="form-group">
                                    <label for="age"><b>Age</b></label>
                                    <input type="text" class="form-control" id="age" th:value="${user.getAge()}">
                                </div>

                                <div class="form-group">
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" class="form-control" id="email" th:value="${user.getEmail()}">
                                </div>

                                <div class="form-group">
                                    <label for="password"><b>Password</b></label>
                                    <input type="password" class="form-control" id="password" th:value="${user.getPassword()}">
                                </div>

                                <div class="form-group">
                                    <label for="role"><b>Role</b></label>
                                    <select class="form-control" size="2" th:value="${user.getRoles()}" id="role" multiple>
                                        <option th:value="USER">USER</option>
                                        <option th:value="ADMIN">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

