<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>

<body>
<div class="container-fluid">
    <!--        Шапка сайта-->
    <div class="row">
        <div class="col-md-11" style="background: black">
            <h5 class="list-inline" style="color: white">
                <b>
                    <span
                            data-th-text="${currentUser.email}">
                    </span>
                </b>
                <span> with roles:</span>
                <span id="currentUserRoles"
                      data-th-text="${currentUser.roles}">
                </span>
            </h5>
        </div>
        <div class="col-md-1" style="background: black" th:align="right">
            <a href="/logout">
                <font color="#a9a9a9">Logout</font>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!--Левая панель -->
        <div class="col-md-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a sec:authorize="hasRole('ROLE_ADMIN')"
                   class="list-group-item list-group-item-action" th:href="@{/admin}">Admin</a>
                <a class="list-group-item list-group-item-action" th:href="@{/user}">User</a>
            </div>
        </div>

        <!-- правая часть, с таблицей -->
        <div class="col-md-10 bg-light">
            <div class="container">
                <div class="row">
                    <div class="container-fluid">
                        <div class="table table-hover">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2><b>Admin panel</b></h2>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="sub-header">About user</h5>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-hover table-striped"
                                                   style="background: white">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                                </thead>
                                                <tr>
                                                    <td th:text="${currentUser.getId()}"></td>
                                                    <td th:text="${currentUser.getFirstName()}">user></td>
                                                    <td th:text="${currentUser.getLastName()}">user></td>
                                                    <td th:text="${currentUser.getAge()}">user></td>
                                                    <td th:text="${currentUser.getEmail()}">user></td>
                                                    <td th:text="${currentUser.getRoles()}">user></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

