<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
<div class="container-fluid">
    <tr>
<!--    <td th:text="${.getEmail()}">>VALUE</td>-->
    </tr>
</div>
<div class="container">
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempUser : ${users}">
                    <td th:text="${tempUser.getId()}"></td>
                    <td th:text="${tempUser.getFirst_name()}">user></td>
                    <td th:text="${tempUser.getLast_name()}">user></td>
                    <td th:text="${tempUser.getAge()}">user></td>
                    <td th:text="${tempUser.getEmail()}">user></td>
                    <td th:text="${tempUser.getRoles()}">user></td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Edit">
                    </td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div th:block th:each="tempUser : ${users}">-->
<!--    <a th:href="@{/admin/{id}(id=${tempUser.getId()})}"-->
<!--       th:text="${tempUser.getName()}">user</a>-->
<!--</div>-->
<!--<br/>-->
<!--<hr/>-->
<!--<a href="/admin/new">Create new user</a>-->
<!--<br/>-->
<!--<a href="/logout">Logout</a>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>