<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <style>
        #main {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #okno {
            width: 800px;
            height: 200px;
            text-align: center;
            padding: 15px;
            border: 3px solid #0000cc;
            border-radius: 10px;
            color: #0000cc;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        #main:target {display: block;}
    </style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">






<body>
    <div class="container-fluid">

<!--        Шапка сайта-->
        <table>
            <div class="row">
                <div class="col-md-11" style="background: black">
                    <font color="#FFFFFF"><b style="margin-left:5px">adminmailru</b></font>
                    <font color="#FFFFFF">with roles: admin, user</font>
                </div>
                <div class="col-md-1" style="background: black" th:align="right">
                    <a href="/logout">
                        <font color="#a9a9a9">Logout</font>
                    </a>
                </div>
            </div>



    <!-- Вторая строка-->
            <div class="row">
                    <!-- Боковая панель-->
                    <div class="col-md-2">
                        <div class="row">
<!--                            <ul class="nav navbar-nav">-->
                                <font color="#0080FF">Admin</font>
<!--                            </ul>-->
                        </div>
                    </div>

                    <!--  Пустой столбец-->
                    <div class="col-md-1" style="background: lightgray"></div>

                    <div class="col-md-9" style="background: lightgray">
                        <div class="row">
                            <h1 class="page-header">Admin panel</h1>
                        </div>

                        <div class="row">
                            <h4 class="sub-header">All users</h4>
                        </div>

                        <div class="row">
                            <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tr th:each="tempUser : ${users}">
                                        <td th:text="${tempUser.getId()}"></td>
                                        <td th:text="${tempUser.getFirst_name()}">user></td>
                                        <td th:text="${tempUser.getLast_name()}">user></td>
                                        <td th:text="${tempUser.getAge()}">user></td>
                                        <td th:text="${tempUser.getEmail()}">user></td>
                                        <td th:text="${tempUser.getRoles()}">user></td>
                                        <td><a href="#" id="main">
                                            <div id="okno">Всплывающее окошко!</div>
                                            </a>
                                            <a href="#main">
                                                <input type="submit" class="btn btn-primary" value="Edit">
                                            </a>
                                        </td>
                                        <td>
                                            <form th:method="DELETE" th:action="@{/admin/}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>

            </div>

        </table>
    </div>
<!--    </table>-->

<!--    <div class="container"> &lt;!&ndash;для центрирования контента (огр-ет блок шириной 1200px)&ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="card-block">-->
<!--                <table class="table table-hover">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>ID</th>-->
<!--                        <th>First name</th>-->
<!--                        <th>Last name</th>-->
<!--                        <th>Age</th>-->
<!--                        <th>Email</th>-->
<!--                        <th>Role</th>-->
<!--                        <th>Edit</th>-->
<!--                        <th>Delete</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="tempUser : ${users}">-->
<!--                        <td th:text="${tempUser.getId()}"></td>-->
<!--                        <td th:text="${tempUser.getFirst_name()}">user></td>-->
<!--                        <td th:text="${tempUser.getLast_name()}">user></td>-->
<!--                        <td th:text="${tempUser.getAge()}">user></td>-->
<!--                        <td th:text="${tempUser.getEmail()}">user></td>-->
<!--                        <td th:text="${tempUser.getRoles()}">user></td>-->
<!--                        <td>-->
<!--                            <input type="submit" class="btn btn-primary" value="Edit">-->

<!--                        </td>-->
<!--                        <td>-->
<!--                            <form th:method="DELETE" th:action="@{/admin/}">-->
<!--                                <button class="btn btn-danger">Delete</button>-->
<!--                            </form>-->
<!--                            &lt;!&ndash;   <button class="btn btn-danger">Delete</button>&ndash;&gt;-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



<!--<div th:block th:each="tempUser : ${users}">-->
<!--    <a th:href="@{/admin/{id}(id=${tempUser.getId()})}"-->
<!--       th:text="${tempUser.getName()}">user</a>-->
<!--</div>-->
<!--<br/>-->
<!--<hr/>-->
<!--<a href="/admin/new">Create new user</a>-->
<!--<br/>-->
<!--<a href="/logout">Logout</a>-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>